{% extends "base.html" %}

{% block title %}Quotes - Dream Website{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center; color: #00ffe1;">Inspirational Quotes</h1>

        <div class="quotes-box">
            <p>“Dream is not that which you see while sleeping, it is something that does not let you sleep.”<br><span>– A.P.J. Abdul Kalam</span></p>

            <p>“Be yourself; everyone else is already taken.”<br><span>– Oscar Wilde</span></p>

            <p>“The best way to get started is to quit talking and begin doing.”<br><span>– Walt Disney</span></p>

            <p>“It always seems impossible until it’s done.”<br><span>– Nelson Mandela</span></p>

            <p>“Push yourself, because no one else is going to do it for you.”</p>
        </div>
    </div>
{% endblock %}
